/**
 * 	Fonts
 */

$heading-font: "Open Sans", sans-serif;
$text-font: "Ubuntu", sans-serif;
$light-text-color: #dddddd;
$text-color: #222222;


/**
 * 	Background Colors
 */

$body-bg-color: #ffffff;
$container-bg-color: #eeeeee;
$primary-bg: linear-gradient(to bottom right, #ff9900, #ff6600);

/**
 * 	Text Colors
 */

$primary-color:	#ff6600;

/**
 * 	Util Colors
 */

$box-shadow-color: rgba(0, 0, 0, 0.7);

