*, *::before, *::after {
    box-sizing: border-box;
}

html, body, h1, h2, h3, p, div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    padding-bottom: 5px;
}

body {
    background-color: $background;
    font-family: $font;
    color: $text-color;
}

.container {
    @include flex-base();

    width: 100vw;
    height: 100vh;

    h1 {
        font-size: calc(2.25 * #{$base-font-size});
    }

    h1#header {
        font-size: calc(5 * #{$base-font-size});
    }

    h2 {
        font-size: calc(1.75 * #{$base-font-size});
    }

    h3 {
        font-size: calc(1.17 * #{$base-font-size});
    }
}