*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    font-family: $font;
    color: $text-color;
}

.container {
    @include flex-base();

    width: 100vw;
    height: 100vh;

    h1 {
        font-size: 5rem;
    }
}